<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Broccoli MDM</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="/static/content/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/handsontable.full.min.css">
    <link rel="stylesheet" type="text/css" href="/static/content/jquery-ui.css">
    <script src="/static/scripts/jquery-3.4.1.min.js"></script>
    <script src="/static/scripts/handsontable.full.min.js"></script>
</head>

<body>
    <div class="navbar">
            <div class="navbar-header">
                <img class="img logo" src="/static/content/logo.png" alt="">
                <a href="/" class="navbar-brand text-light">Broccoli</a>
            </div>
            <div class="navbar-header">
                <div class="dropdown">
                    <button type="button" class="btn bmd-btn-fab bmd-btn-fab-sm dropdown-toggle active" id="dropdownMenuOffset" data-toggle="dropdown">
                        <div class="text-white">
                            {{current_user.user_name[:1]}}
                        </div>
                    </button>

                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuOffset">
                            <a class="dropdown-item" href="/logout">logout</a>
                    </div>
                </div>
            </div>
    </div>



    <!-- Sidebar -->
    <div class="sidenav" id="sidebar-wrapper">
        <div class="list-group">
            <span class="item-group">Administration</span>
            <a href="/admin/tables" class="sidenav-item">Tables</a>
            <a href="/admin/users" class="sidenav-item btn-link">Users</a>
            <a href="#" class="sidenav-item btn-link disabled">Groups</a>
            <a href="/admin/permissions" class="sidenav-item btn-link">Access</a>
            <a href="/admin/connections" class="sidenav-item">Connections</a>
            <span class="item-group">Catalog</span>
            <div id="table_list">
            </div>
        </div>
    </div>


    {% block content %}
    {% endblock %}


    <script src="/static/scripts/jquery-ui.min.js"></script>
    <script src="/static/scripts/popper.js"></script>
    <script src="/static/scripts/bootstrap-material-design.js"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
    <script src="/static/scripts/axios.min.js"></script>
    <script src="/static/scripts/lodash.min.js"></script>
    <script src="/static/scripts/layout.js"></script>
    <script src="/static/scripts/snackbar.min.js"></script>
    {% block scripts %}
    {% endblock %}

    {% block table_permissions %}
    {% endblock %}


</body>
</html>
