<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Broccoli MDM</title>
    <link rel="shortcut icon" href="#" />
    <link rel="stylesheet" href="/static/content/bootstrap-material-design.min.css">
    <link rel="stylesheet" type="text/css" href="/static/content/site.css?v=1" />
    <link rel="stylesheet" type="text/css" href="/static/content/jquery-ui.css">
    <script src="/static/scripts/jquery-3.4.1.min.js"></script>
</head>

<body style="background-color: #2647a3">
    <div class="row justify-content-md-center">
        <div id="login_area" class="col col-3 mt-3 p-3 rounded bg-light">
            <h3>Please enter your credentials.</h3>
            <label for="email" class="col col-form-label font-weight-bold">User</label>
            <input id ="user_name" class="form-control" type="text" name="User">
            <label for="email" class="col col-form-label font-weight-bold">Password</label>
            <input id="password" class="form-control" type="text" name="User">
            <label class="col col-form-label text-danger" id="fail_message">  </label>
            <br>
            <button class="btn btn-primary mt-3" type="button" onclick="login()">Login</button>
        </div>            
    </div>

    <div class="row p-3 justify-content-md-center">
            <div class="login_title">
                Broccoli MDM
            </div>
    </div>

    <div class="row p-3 justify-content-md-center">
            <div class="B">B</div>
    </div>

    <script src="/static/scripts/popper.js"></script>
    <script src="/static/scripts/bootstrap-material-design.js"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
    <script src="/static/scripts/jquery-ui.min.js"></script>
</body>

<script>
    function login() {
        request_data = {
            "user_name" : user_name.value,
            "password": password.value
        }
        jQuery.ajax({
            url: "/login",
            type: "POST",
            data: JSON.stringify(request_data),
            dataType: "text",
            async: false,
            contentType: "application/json; charset=utf-8"})
            .done(function() {
                window.location.replace('/');
            })
            .fail(function(data) {
                fail_message.innerText = data.responseText
                $("#login_area").effect("shake");
            });
            
    }


</script>

</html>
