{% extends "layout.html" %}

{% block content %}
<div class="canvas" id="canvas_area">
    <div class="row pl-1">  
        <div class="col col-md-3">
            <button id="btn_save" class="btn btn-primary">Save</button>
        </div>

        <div class="col col-md-6">
            <input id="filter" class="form-control" placeholder="filter" type="text" name="">
        </div>

        <div class="col col-1">    
            <div class="dropbown">
                <button id="btnGroupExport" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Export
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <button id="btn_export" class="dropdown-item" onclick='exportCSV(getUrlPath(1) + ".csv", table)' >csv</button>
                    <a class="dropdown-item disabled" href="">Excel.xls (comming soon)</a>
                </div>
            </div>
        </div>

        <div class="col col-1">    
            <div class="dropbown">
                <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Options
                </button>
                <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
                    <a id="api_link" target="_blank" class="dropdown-item" href="">API</a>
                    <a id="json_schema_link" target="_blank" class="dropdown-item" href="">JSON Schema</a>
                    <a class="dropdown-item disabled" href="">Business process (comming soon)</a>
                </div>
            </div>
        </div>
    </div>
            
    <div class="row pl-3">
        <div id="hot"></div>
    </div>

    {% block add %}
    {% endblock %}
</div>





<div id="snackbar" class="snackbar">
</div>

{% endblock %}



{% block scripts %}
<script src="/static/scripts/spreadsheet.js?version=3"></script>
<script src="/static/scripts/FileSaver.min.js"></script>
<script src="/static/scripts/exporter.js"></script>
{% endblock %}


